@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    letter-spacing: 0.42px;
    width: min(100vw, 180rem);

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;

}

.center {
    margin: 0 auto;
}

.list {
    list-style: none;
}

.logo {
    color: #08B0DC;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.9px;
    font-size: 2rem;
}


.nav-list {
    font-size: 1.2rem;
    letter-spacing: 0.7px;
}

p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.7px;
    color: #101010;
}

.text--grey {
    color: #101010;
}

.text--blue {
    color: #08B0DC;

}

.text--black {
    color: black;
}

.text--write {
    color: white;
}

.header-h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;

}

.header-h2--1 {
    font-size: 1.4rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.7rem;
}

.btn {
    background-color: #413D4C;
    width: 7rem;
    border-radius: 1.1rem;
    color: white;
    font-size: smaller;
    padding: 0.4rem 0.7rem;
}

.liner {
    height: 3px;
    width: 60%;
    background-color: #DEE2E5;
    /* align-self: flex-start; */
}

.bg--black {
    background-color: #101010;
}