@media (min-width: 1200px) {
    .logo {
        font-size: x-large;
    }

    .nav-list {
        font-size: 1.5rem;
    }

    .header__1-title--container {
        gap: 4rem;
    }

    .header__2-title--container {

        gap: 2rem;

    }

    /* getready */
    .section-getready::before {

        height: 100%;
    }

    .getready__content--container::after {
        height: 15rem;
        top: 35rem;
    }

    .getready__content--container {
        top: 40%;
        left: 10rem;
    }
}