.header {
    height: 100vh;
    position: relative;
    z-index: 1;
    width: 100%;

}

.header__1 {
    height: 50%;
    width: 100%;
    position: relative;
    flex-direction: column;
    /* justify-content: space-around; */
    z-index: 1;
    /* background-color: white; */
}

.header-nav--container {
    width: 100%;
    z-index: 8;
    position: absolute;
    top: 10%;
}

.header__1-title--container {
    color: black;
    width: 50%;
    height: 50%;
    text-align: center;
    position: absolute;
    flex-direction: column;
    mix-blend-mode: difference;
    background-color: white;
    z-index: 3;
    gap: 2rem;
    border: 1px black solid;
    /* font-family: var(--unnamed-font-family-montserrat); */

}

.header__1::before {
    content: '';
    background-color: #08B0DC;
    z-index: 4;
    mix-blend-mode: screen;
    inset: 0;
    position: absolute;
    height: 100%;

}

.header__1::after {
    content: '';
    border-top: 0;
    background-color: white;
    border-left: min(100vw, 180rem) solid transparent;
    border-bottom: 50vh solid black;
    inset: 0;
    z-index: 2;



}


.nav-list {
    width: 60%;
    justify-content: space-around;
    font-size: 0.7rem;

}

/* header__2 */
.header__2 {
    background-image: url(./assets/png/header-img.png);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    align-items: flex-end;
    justify-content: end;



}

.header__2::after {
    content: '';
    border-top: 0;
    /* background-color: white; */
    border-left: min(100vw, 180rem) solid transparent;
    border-bottom: 50vh solid white;
    inset: 0;
    z-index: 2;

}

.header__2-title--container {
    flex-direction: column;
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 3;
    color: #08B0DC;
    gap: 1rem;
    padding-right: 6rem;
    align-items: flex-start;
}

/* section-1 */
.section-1 {
    width: 100%;
    height: 100vh;
    position: relative;

}

.section-1__text--container {
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 10%;
    gap: 4rem;
}

.section-1__text--section {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.section-1::before {
    content: '';
    height: 20%;
    width: 30%;
    background-color: #DEE2E5;

    position: absolute;
    inset: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.section-1::after {
    content: '';
    height: 100%;
    width: 50%;
    background-color: #08B0DC;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    right: 0;

}

.img-btn--readmore {
    height: 1.3rem;
}

/* subscribe--section */
.section-subscribe {
    width: 100%;
    /* height: 100vh; */

}

.subscribe-content--container {
    height: 50%;
    flex-direction: column;
    background-color: #413D4C;
    color: white;
    width: 100%;
    position: relative;



}

.subscribe-content {
    align-self: flex-end;
    flex-direction: column;
    width: 70%;
    /* align-self: flex-end; */
    text-align: center;
    align-items: center;
    gap: 2rem;

}

.subscribe-content--container::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(180deg, #05B5B0 0%, #06B5D0 53%, #08B8E7 100%);
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);

}

.form {
    position: relative;
    width: 80%;
    border: 1px white solid;
    border-radius: 2.5rem;
    height: 4rem;
    background-color: white;

}

.email {
    position: absolute;
    border: none;
    left: 3px;


}

.subscribe--btn {
    position: absolute;
    right: 1rem;
    background-color: #413D4C;
    color: white;
    padding: 5px;
    border-radius: 1.1rem;
}

.subscribe-img--container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.img--container {
    width: 100%;
    height: 20rem;
}

.subscribe--img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.section-emplyee {
    height: 100vw;
    width: 100%;
    position: relative;
    z-index: 1;
}

.section-emplyee::after {
    content: '';
    width: 50%;
    height: 100%;
    background-image: linear-gradient(180deg, #05B5B0 0%, #06B5D0 53%, #08B8E7 100%);
    position: absolute;
    clip-path: polygon(0 0, 100% 20%, 0 100%);
    z-index: 2;

}

.section-emplyee::before {
    content: '';
    background-image: url(./assets/png/Groom@2x.png);
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 3;
    background-position: center;
    background-size: cover;
    bottom: -20%;

}

.emplyee__content--container {
    grid-template-rows: 1fr 1.5fr 2fr 3fr 2fr;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    top: 40%;
    width: 50%;
    right: 1rem;
    align-items: flex-start;
}

/* get-ready */
.section-getready {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.section-getready::after {
    content: '';
    content: '';
    width: 50%;
    height: 100%;
    background-image: linear-gradient(180deg, #05B5B0 0%, #06B5D0 53%, #08B8E7 100%);
    position: absolute;
    clip-path: polygon(0 20%, 100% 0, 100% 100%);
    z-index: 2;
    right: 0;
}

.section-getready::before {
    content: '';
    background-image: url(./assets/png/man-bag.png);
    position: absolute;
    height: 70%;
    width: 50%;
    z-index: 3;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5%;
    right: 5%;

}

.getready__content--container::after {
    content: '';
    height: 5rem;
    background-color: white;
    /* position: absolute; */
    inset: 0;
    z-index: 10;
    /* bottom: -10rem; */
    width: min(100vw, 180rem);

}

.getready__content--container {
    position: absolute;
    flex-direction: column;
    top: 30%;
    width: 40%;
    left: 3rem;
    gap: 3rem;
    align-items: flex-start;

}

/* footer */


.footer__container {
    justify-content: space-between;
    width: 100%;
    padding: 5rem;
    margin-top: 3rem;

}